<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB13B0A81EB862B60091404B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB1BD5141EBB150B00BCEE73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB26A5AD1ECAEA9B0025ACC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3891881ED2DC0300A177F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3891A21ED4211600A177F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3891BB1ED56C2B00A177F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3891D61ED6CCAA00A177F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3891F31ED801EC00A177F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3F0D851EB08467008396F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3F0D9B1EB09016008396F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4B67A11EBC5E4A001FCC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4B67B41EBC6A69001FCC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB71933E1ED2D14B00790252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB85F51B1EC053BB001309B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB85F5301EC06703001309B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB85F5451EC07715001309B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB913EAF1EB9BF43005EDAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB95942A1EADE00D0006D375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB95943F1EADF6050006D375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9594541EADFB370006D375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9B76FD1ECD80CD0000C464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9EA9111EA5F4DD00D9C05E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA147C11EB320AF00765E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBBC1BD1ECC2C9400B84835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC15B251EC2EBF000C0500E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC15B3C1EC3074E00C0500E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC15B621EC45CD300C0500E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC15B771EC4615000C0500E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC6700E1EAF423000C0BDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBC670231EAF484700C0BDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
